@*This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.*@
@model IdentityServer4.Contrib.Membership.IdsvrDemo.Model.LoginViewModel
<h1>Login</h1>

<form asp-route="Login">
    <input type="hidden" asp-for="SignInId"/>

    <fieldset>
        <div class="form-group">
            <label asp-for="Username"></label>
            <input class="form-control" placeholder="Username" asp-for="Username" autofocus>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Login</button>
        </div>
    </fieldset>
</form>